body {
  margin: 0;
  background-color: black;
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}
.nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: white;
  padding-bottom: 5px;
}
img {
  width: 50px;
  height: 50px;
}
.left-side {
  display: flex;
  margin-left: 10px;
}
.right-side {
  margin-right: 10px;
}
.name-with-status {
  margin: 10px 0px 0px 10px;
}
.name {
  font-size: 27px;
}
#telephone {
  width: 40px;
  height: 40px;
}
section {
  display: flex;
  flex-direction: column;
  align-items: end;
  flex: 1;
}

.messaging {
  width: 900px;
  color: black;
  padding: 10px;
  font-size: 16px;
  background-color: aquamarine;
  margin: 10px 5px;
  border-radius: 5px;
}
.time-check {
  display: flex;
  justify-content: end;
}
#check {
  width: 20px;
  height: 20px;
  margin-left: 10px;
}

.footer {
  display: flex;
  justify-content: space-around;
  align-items: center;
}
.search-engine {
  display: flex;
  width: 1500px;
  position: relative;
  margin-top: 20px;
  margin-bottom: 10px;
}
input {
  flex: 1;
  border-radius: 20px;
  padding: 15px 30px;
  padding-left: 50px;
  font-size: 20px;
}

#attach-file {
  width: 30px;
  height: 30px;
  top: 12px;
  right: 52px;
  position: absolute;
  cursor: pointer;
}
#smile {
  width: 30px;
  height: 30px;
  top: 12px;
  left: 8px;
  position: absolute;
  cursor: pointer;
}
#camera {
  width: 30px;
  height: 30px;
  top: 12px;
  right: 15px;
  position: absolute;
  cursor: pointer;
}
